# Python virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.pyc

# Flask and Robot Framework outputs
output.xml
log.html
report.html

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

.env*
